/* base settings */

:root {
    --header-color: #212121;
    --text-color: #757575;
    --second-color: #ffffff;
    --accent-color: #2196F3;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.3px;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.2px;
    color: var(--header-color);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.3px;
    color: var(--accent-color);
}

/* header */

.header {
    background-color: var(--second-color);
}

.header__logo {}

.header__logo--color {
    color: #000000;
}

/* menu */

.menu {}

.menu__list {}

.menu__item {}

.menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.2px;
    color: var(--header-color);
}

.menu__link:hover,
.menu__link:focus {
    color: var(--accent-color);
}

.menu__link--active {
    color: var(--accent-color);
}

/* contacts */

.contacts {}

.contacts__item {}

.contacts__link {
    color: var(--text-color);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

/* main */

.main {}

/* banner */

.banner {
    background-color: #2F303A;
}

.banner__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.6px;
    color: var(--second-color);
    text-transform: uppercase;
}

.banner__button {
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.6px;
    color: var(--second-color);

    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}

/* achievements */

.achievements {}

.achievements__list {}

.achievements__item {}

.achievements__title {
    font-weight: 700;
    letter-spacing: 0.3px;
    color: var(--header-color);
    text-transform: uppercase;
}

.achievements__text {}

/* work */

.work {}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: center;
}

.work__list {}

.work__item {}

.work__img {}

/* team */

.team {
    background-color: #F5F4FA;
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: center;
}

.team__list {}

.team__item {
    
    background-color: var(--second-color);
}

.team__img {}

.team__name-title {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: center;
}

.team__text {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: center;
}

/* footer */

.footer {
    background-color: #2F303A;
}

.footer__logo {}

.footer__logo--color {
    color: var(--second-color);
}

.footer__address {}

/* footer address */

.address {}

.address__list {}

.address__item {

}

.address__link {
    font-style: normal;
    color: var(--second-color);
}

.address__link-contact {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

.portfolio {}

.portfolio__list {}

/* filters */

.filters {}

.filters__item {}

.filters__button {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.3px;
    color: var(--header-color);

    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.filters__button:hover,
.filters__button:focus {
    color: var(--second-color);

    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__button--active {
    color: var(--second-color);
    background-color: var(--accent-color);
}

/* product */

.product {}

.product__item {
    background-color: var(--second-color);
    border: 1px solid #EEEEEE;
}

.product__img {}

.product__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    text-align: center;
    letter-spacing: 0.3px;
}


.product__text {
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.3px;
    color: var(--text-color);
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



